/* GLOBAL CSS */

/* Removed any default browser margin and padding and applied border-box property to account for border and padding within the element's width and height properties */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Removes horizontal scrollbar appearing despite content not overflowing */
html {
  overflow-x: hidden;
}

/* Set the font-family and background colour within this section */
html,
body,
button {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  background-color: #ffffff;
}

/* HEADING ELEMENTS */

/* Font specifications for the main-heading and sub-heading */
#main-heading,
#sub-heading {
  display: flex;
  align-items: center;
  color: #000000;
}

/* Applied these specifications regarding font-size and weight using my mockups in Figma */
h1 {
  font-size: 64px;
  font-weight: 700;
}

h2 {
  font-size: 36px;
  font-weight: 400;
}

h3 {
  font-size: 18px;
  font-weight: 700;
}

h4,
p {
  font-size: 18px;
  font-weight: 400;
}

button {
  font-size: 18px;
  font-weight: 700;
}

/* MAIN FLEXBOX LAYOUT */

/* Use flexbox layout to manage main content and handle responsiveness */
main {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
}

/* Using flexbox column layout so that the main-heading and sub-heading appear in column order*/
header {
  display: flex;
  flex-flow: column;
  margin: 1rem;
  margin-left: 2rem;
  padding: 2rem;
  width: 100%;
  height: 8rem;
}

.left-container {
  width: 25rem;
  height: 30rem;
}

/* The tracking list container requires more space than the iPod container */
.right-container {
  width: 37.5rem;
  height: 30rem;
}

/* IPOD ELEMENT */

/* Styling for iPod, moving it to the correct spot on the screen */
.iPod {
  display: flex;
  flex-direction: column;
  transform: translate(4rem, -20rem);
}

/* Styling for iPod display container that holds the tracking item details */
.iPod-display {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  width: 24rem;
  height: 19rem;
  background: #C8B6FF;
  border: 8px solid #000000;
  border-radius: 10px;
  z-index: 9999;
  transform: translate(1rem, 24rem);
}

/* Styling for iPod display genre image */
.iPod-display-genre-img {
  width: 6.25rem;
  height: 6.25rem;
  margin-bottom: 1rem;
}

/* Styling for iPod display details that holds podcast and episode title and rating */
.iPod-display-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Styling for text elements to prevent overflow within the container if character length exceeds width */
/* Used code from https://stackoverflow.com/questions/3922739/limit-text-length-to-n-lines-using-css/13924997#13924997 */
#iPod-display-podcast-title,
#iPod-display-episode-title {
   display: -webkit-box;
   -webkit-line-clamp: 2; /* Limit text to 2 lines */
   -webkit-box-orient: vertical;
   text-align: center;
   overflow: hidden;
   padding-left: 1rem;
   padding-right: 1rem;
   margin-bottom: 1rem;
}

#iPod-display-rating {
  font-size: 24px;
}

/* Styling for iPod frame made up of photo of an iPod classic */
#iPod-photo {
  width: 28rem;
  height: 47rem;
  z-index: -1;
  /* Using Z-Index to control the layering between the iPod body and the iPod controls*/
}

/* Styling for top and bottom buttons of iPod controls */
#show-details-button,
#add-episode-button {
  width: 4rem;
  height: 3rem;
  border: 0;
  z-index: 1;
  cursor: pointer;

  font-weight: 700;
  font-size: 18px;
  line-height: 1.5rem;
  text-align: center;
  color: #000000;
}

/* Using transform and translate to move the buttons to fit the iPod's control wheel */
#show-details-button {
  transform: translate(11rem, 28rem);
}

#add-episode-button {
  transform: translate(6.8rem, 39.5rem);
}

/* Styling for left and right shuffle buttons of iPod controls */
#left-shuffle-button,
#right-shuffle-button {
  width: 3.5rem;
  height: 2rem;
  z-index: 1;
  cursor: pointer;
}

#left-shuffle-button {
  transform: translate(-3rem, 35.5rem);
}

#right-shuffle-button {
  transform: translate(4.5rem, 35.5rem);
}

/* POP-UP ELEMENTS */

/* Hide podcast popups initially - javascript handles opening and closing */
#add-podcast-popup,
#show-details-popup {
  display: none;
}

/* Styling for pop-up container that applies to both pop ups */
.podcast-popup-container {
  position: absolute;
  top: 12.8rem;
  left: 3rem;
  display: flex;
  flex-direction: column;
  width: 30rem;
  height: 50rem;
  z-index: 9999;
  background: #C8B6FF;
  border: 1px solid #000000;
  border-radius: 45px;
}

/* Styling for closing button for both pop-ups */
.close-popup-button {
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
  width: 2.5rem;
  height: 2.5rem;
  margin-top: 2rem;
  margin-right: 2rem;
  cursor: pointer;
  /* Creates a smooth transition effect when hovering over the button */
  transition: transform 0.5s cubic-bezier(0.25, 0.5, 0.25, 1.5), filter 0.5s;
}

.close-popup-button:hover {
  transform: translateY(-2px);
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.2));
  /* Filter is smoother than box shadow */
}

/* Styling for add and delete episode buttons across both popups */
#add-button,
.show-details-delete-button {
  box-sizing: border-box;
  width: 25rem;
  height: 2.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 2px solid #000000;
  border-radius: 10px;
  cursor: pointer;
  /* Creates a smooth transition effect when hovering over the button */
  transition: transform 0.5s cubic-bezier(0.25, 0.5, 0.25, 1.5), filter 0.5s;
}

/* ADD PODCAST POP-UP */

/* Styling for podcast form layout */
#add-podcast-form {
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
  padding-right: 2rem;
}

/* Styling for general podcast form label */
label {
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 0.5rem;
}

/* Styling for the input text and number appearance */
input[type="text"],
input[type="number"],
select {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-size: 18px;
  padding: 0.5rem;
}

/* Styling for podcast form input type 'text' */
input[type="text"],
select {
  /* 'select' selects the dropdown menu styling */
  box-sizing: border-box;
  width: 25rem;
  height: 2.5rem;
  margin-bottom: 1rem;
  background: #FFFFFF;
  border: 1px solid #000000;
  border-radius: 10px;
}

/* Styling for podcast form input type 'number' */
input[type="number"] {
  box-sizing: border-box;
  width: 7rem;
  height: 2.5rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  background: #FFFFFF;
  border: 1px solid #000000;
  border-radius: 10px;
}

/* Styling for the episode duration container */
.episode-duration-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

/* Styling for the containers within the episode duration container*/
.episode-hours-container,
.episode-minutes-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 2.5rem;
  /* Add margin between the hour and minute input boxes */
}

/* Styling for the episode container labels */
.episode-hours-container label,
.episode-minutes-container label {
  margin-right: 0.5rem;
  /* Adjust the margin for the labels */
}

/* Styling for the episode completed title */
#episode-completed-title {
  margin-bottom: 0.5rem;
}

/* Styling for the episode completed container */
.episode-completed-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}

/* Styling for the episode completed (yes) button */
#episodeCompletedTrue {
  width: 11.25rem;
  height: 2.5rem;
  border: 2px solid #000000;
  border-radius: 10px;
  cursor: pointer;
  /* Creates a smooth transition effect when hovering over the button */
  transition: transform 0.5s cubic-bezier(0.25, 0.5, 0.25, 1.5), filter 0.5s;
}

/* Styling for the episode completed (no) button */
#episodeCompletedFalse {
  width: 11.25rem;
  height: 2.5rem;
  border: 2px solid #000000;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 2.5rem;
  /* Creates a smooth transition effect when hovering over the button */
  transition: transform 0.5s cubic-bezier(0.25, 0.5, 0.25, 1.5), filter 0.5s;
}

/* Styling to make thumbs up (yes) and thumbs down (no) emojis bigger without affecting text */
#yes-emoji,
#no-emoji {
  font-size: 24px;
}

/* Styling for the star rating container */
.star-rating-container {
  box-sizing: border-box;
  width: 25rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem;
  background: #FFFFFF;
  border: 1px solid #000000;
  border-radius: 10px;
}

/* Styling for the star sizes */
.star-rating-container #rating {
  font-size: 24px;
}

/* Styling for the cursor when user hovers over stars */
.star-rating-container .star {
  cursor: pointer;
}

/* Prevents text selection (highlighted box) appearing when user clicks on stars */
.star {
  user-select: none;
}

/* Styling for effects taking place when hovering over buttons */
button[type="submit"]:hover,
button[type="button"]:hover {
  transform: translateY(-2px);
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.2));
}

/* Styling for required text to line up with input form start */
#required-text {
  font-size: 16px;
  margin-left: 2rem;
}

/* Specific styling for add episode button */
#add-button {
  background: #EDFFB6;
}

/* SHOW DETAILS POP-UP */

/* Specific styling for container holding content of episode item data */
#show-details-content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin-left: 2.5rem;
  padding-right: 1rem;
}

/* Specific styling for heading margin spacing */
.show-details-heading {
  margin-top: 1.8rem;
  margin-bottom: 0.5rem;
}

#podcast-details-genre {
  display: flex;
  flex-direction: row;
}

/* Specific styling genre image */
.show-details-genre-img {
  width: 3rem;
  height: 3rem;
  margin-left: 1rem;
  transform: translate(0rem, 2.2rem);
}

/* Limit line count for long podcast title names */
#podcast-input-name {
  display: -webkit-box;
   -webkit-line-clamp: 2; /* Limit text to 2 lines */
   -webkit-box-orient: vertical;
  overflow: hidden;
}

/* Limit line count for long episode title names */
#episode-input-title {
  display: -webkit-box;
   -webkit-line-clamp: 3; /* Limit text to 3 lines */
   -webkit-box-orient: vertical;
  overflow: hidden;
}

/* Specific styling for delete episode button */
.show-details-delete-button {
  background: #FFB6C8;
}

/* TRACKING LIST ELEMENT */

/* This removes the bullet-point from the list display */
li {
  list-style-type: none;
}

/* Styling for the background container holding the list of podcast elements */
#podcast-list {
  display: flex;
  flex-flow: column;
  align-items: center;
  align-content: flex-start;
  overflow: auto; /* Enables scrolling */
  width: 50rem;
  height: 45rem;
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #000000;
  transform: translate(10rem, 1.8rem);
}

/* Used code from this Codepen to style scrollbar https://codepen.io/devstreak/pen/dMYgeO */
#podcast-list::-webkit-scrollbar {
	width: 1.25rem;
	background-color: #F5F5F5;
}

/* Scrollbar handle */
#podcast-list::-webkit-scrollbar-thumb {
  background: #D9D9D9;
}

/* Ensuring that the list item details and delete button are on the same line rather than split up */
.podcast-list-item-container {
  display: flex;
  margin-top: 1rem;
  background-color: white; 
  border: 2px solid #000000;
  border-radius: 20px 20px 20px 20px;
  /* Added padding to the right to create space with the scrollbar */
  /* Applied smooth hovering transition effect for playfulness */
  transition: transform 0.5s cubic-bezier(0.25, 0.5, 0.25, 1.5), filter 0.5s;
}

/* Applied smooth hovering effect for playfulness */
.podcast-list-item-container:hover {
  transform: translateY(-2px);
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.2));
  /* Filter is smoother than box shadow */
}

.podcast-list-item-container.active {
  background-color: #C8B6FF; 
}

/* Styling for the container holding the individual podcast information  */
.podcast-list-item-details {
  display: flex;
  align-items: center;
  width: 38.75rem;
  /* Adding minimum height requirement as well as auto to adjust for more text */
  min-height: 7rem;
  height: auto;
  border-right: 2px solid #000000;
  border-radius: 20px 0px 0px 20px;
  cursor: pointer;
}

/* Styling for the genre image  */
#podcast-list-item-genre-img {
  width: 4rem;
  height: 4rem;
  margin: 0.5rem;
  /* Adding space between the image and the text elements */
}

/* Styling for the podcast and episode titles  */
.podcast-list-item-info {
  display: flex;
  flex-direction: column;
  /* Having the elements stack up vertically */
  justify-content: center;
  margin-left: 0.5rem;
}

#podcast-list-title {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  flex-grow: 1;
}

#episode-list-title {
  margin-bottom: 0.5rem;
  flex-grow: 1;
}

/* Styling for the star rating */
#episode-list-rating {
  font-size: 18px;
  margin-bottom: 0.5rem;
}

/* Styling for the container holding the delete button in the form of a trash emoji */
.podcast-list-item-del {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5.625rem;
  min-height: 7rem;
  height: auto;
  cursor: pointer;
}

/* Styling for the trash emoji image representing the delete functionality for the user */
.trash-icon-button {
  width: 4rem;
  height: 4rem;
}

/* FOOTER */

/* Styling to create some invisible spacing at the bottom */
footer {
  height: 2rem;
  transform: translate(0rem, 25rem);
}

/* RESPONSIVENESS */

/* Max-width 1400px */
@media (max-width: 87.5rem) {

  /* Enables horizontal scrollbar again */
  html {
    overflow-x: auto;
  }
}

/* Max-width 400px */
@media (max-width: 25rem) {

  /* Responsive layout - makes a one column layout instead of a two-column layout */
  .left-container,
  .right-container {
    flex: 100%;
  }
}