/* Global CSS */

/* Removed any default browser margin and padding and applied border-box property to account for border and padding within the element's width and height properties */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set the font-family and background color within this section */
html, body, button {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    background-color: #ffffff;
}

header {
    position: absolute;
    width: 35rem;
    height: 8rem;
    left: 5rem;
    top: 5rem;
}

h1, h2 {
    display: flex;
    align-items: center;
    color: #000000;
}

h1 {
    font-size: 64px;
    font-weight: 700;
    line-height: 5rem;
}

h2 {
    font-size: 36px;
    font-weight: 400;
    line-height: 2.5rem;
}

#tracking-list {
    box-sizing: border-box;
    position: absolute;
    width: 50rem;
    height: 45rem;
    left: 5rem;
    top: 15rem;
    background: #EDFFB6;
    border: 1px solid #000000;
}

#iPod-photo {
    position: absolute;
    width: 28rem;
    height: 47rem;
    left: 60rem;
    top: 15rem;
    z-index: -2;
}

#show-details-button {
    position: absolute;
    width: 63px;
    height: 44px;
    left: 1072px;
    top: 615px;
}

#left-shuffle-button {
    position: absolute; 
    width: 3.5rem;
    height: 2rem;
    left: 65.5rem;
    top: 46.5rem;
    z-index: 1;
}

#right-shuffle-button {
    position: absolute;
    width: 3.5rem;
    height: 2rem;
    left: 77rem;
    top: 46.5rem;
    z-index: 1;
}
